#imgIcon{
    text-align: center;
    /* height: 131px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

#tileTitle{
    text-align: center;
    font-size: 19px;
    margin-bottom: 30px;
}

#imageIcon{
    width:50px;
}