
#dashboardBlock{
    background: #FFFFFF;
    height: 80px;
}

#DashboardText{
    padding-top: 28px;
    font-size: 20px;
}

#dashboardSearch{
    float: right;
    width: 50%;
    margin-top: 20px;
}

